USE [SE1425_PRJ321]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[password] [nchar](10) NOT NULL,
	[typeAccount] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_Account]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_Account](
	[id] [int] NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_Discount]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_Discount](
	[ID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_Discount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_Feedback]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_Feedback](
	[ID] [int] NOT NULL,
	[start] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[productID] [int] NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_Feedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_Order]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_Order](
	[id] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[discountID] [int] NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_OrderDetail]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_OrderDetail](
	[orderID] [int] NOT NULL,
	[statusID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[orderDate] [date] NOT NULL,
	[shipDate] [date] NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_Product]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_Product](
	[ID] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[typeProductID] [int] NOT NULL,
	[price] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[quantityOrder] [int] NOT NULL,
	[feedbackID] [int] NULL,
 CONSTRAINT [PK_HE140188_HANT_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_Status]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_Status](
	[ID] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_TypeProduct]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_TypeProduct](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_TypeProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE140188_HANT_UserAccount]    Script Date: 24/02/2021 10:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE140188_HANT_UserAccount](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[address] [numeric](18, 0) NOT NULL,
	[password] [nchar](10) NULL,
	[typeAccount] [int] NOT NULL,
 CONSTRAINT [PK_HE140188_HANT_UserAccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminAccount]  WITH CHECK ADD  CONSTRAINT [FK_AdminAccount_HE140188_HANT_Account] FOREIGN KEY([typeAccount])
REFERENCES [dbo].[HE140188_HANT_Account] ([id])
GO
ALTER TABLE [dbo].[AdminAccount] CHECK CONSTRAINT [FK_AdminAccount_HE140188_HANT_Account]
GO
ALTER TABLE [dbo].[AdminAccount]  WITH CHECK ADD  CONSTRAINT [FK_AdminAccount_HE140188_HANT_Account1] FOREIGN KEY([id])
REFERENCES [dbo].[HE140188_HANT_Account] ([id])
GO
ALTER TABLE [dbo].[AdminAccount] CHECK CONSTRAINT [FK_AdminAccount_HE140188_HANT_Account1]
GO
ALTER TABLE [dbo].[HE140188_HANT_Account]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_Account_HE140188_HANT_UserAccount] FOREIGN KEY([type])
REFERENCES [dbo].[HE140188_HANT_UserAccount] ([id])
GO
ALTER TABLE [dbo].[HE140188_HANT_Account] CHECK CONSTRAINT [FK_HE140188_HANT_Account_HE140188_HANT_UserAccount]
GO
ALTER TABLE [dbo].[HE140188_HANT_Account]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_Account_HE140188_HANT_UserAccount1] FOREIGN KEY([id])
REFERENCES [dbo].[HE140188_HANT_UserAccount] ([id])
GO
ALTER TABLE [dbo].[HE140188_HANT_Account] CHECK CONSTRAINT [FK_HE140188_HANT_Account_HE140188_HANT_UserAccount1]
GO
ALTER TABLE [dbo].[HE140188_HANT_Discount]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_Discount_HE140188_HANT_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[HE140188_HANT_Product] ([ID])
GO
ALTER TABLE [dbo].[HE140188_HANT_Discount] CHECK CONSTRAINT [FK_HE140188_HANT_Discount_HE140188_HANT_Product]
GO
ALTER TABLE [dbo].[HE140188_HANT_Order]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_Order_HE140188_HANT_Discount] FOREIGN KEY([discountID])
REFERENCES [dbo].[HE140188_HANT_Discount] ([ID])
GO
ALTER TABLE [dbo].[HE140188_HANT_Order] CHECK CONSTRAINT [FK_HE140188_HANT_Order_HE140188_HANT_Discount]
GO
ALTER TABLE [dbo].[HE140188_HANT_Order]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_Order_HE140188_HANT_Product] FOREIGN KEY([id])
REFERENCES [dbo].[HE140188_HANT_Product] ([ID])
GO
ALTER TABLE [dbo].[HE140188_HANT_Order] CHECK CONSTRAINT [FK_HE140188_HANT_Order_HE140188_HANT_Product]
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[HE140188_HANT_Order] ([id])
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail] CHECK CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_Order]
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_Status] FOREIGN KEY([statusID])
REFERENCES [dbo].[HE140188_HANT_Status] ([ID])
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail] CHECK CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_Status]
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_UserAccount] FOREIGN KEY([userID])
REFERENCES [dbo].[HE140188_HANT_UserAccount] ([id])
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail] CHECK CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_UserAccount]
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_UserAccount1] FOREIGN KEY([userID])
REFERENCES [dbo].[HE140188_HANT_UserAccount] ([id])
GO
ALTER TABLE [dbo].[HE140188_HANT_OrderDetail] CHECK CONSTRAINT [FK_HE140188_HANT_OrderDetail_HE140188_HANT_UserAccount1]
GO
ALTER TABLE [dbo].[HE140188_HANT_Product]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_Product_HE140188_HANT_Feedback] FOREIGN KEY([feedbackID])
REFERENCES [dbo].[HE140188_HANT_Feedback] ([ID])
GO
ALTER TABLE [dbo].[HE140188_HANT_Product] CHECK CONSTRAINT [FK_HE140188_HANT_Product_HE140188_HANT_Feedback]
GO
ALTER TABLE [dbo].[HE140188_HANT_Product]  WITH CHECK ADD  CONSTRAINT [FK_HE140188_HANT_Product_HE140188_HANT_TypeProduct] FOREIGN KEY([typeProductID])
REFERENCES [dbo].[HE140188_HANT_TypeProduct] ([ID])
GO
ALTER TABLE [dbo].[HE140188_HANT_Product] CHECK CONSTRAINT [FK_HE140188_HANT_Product_HE140188_HANT_TypeProduct]
GO
